.InputFilter__input {
  font-size: 18px;
  margin-top: 25px;
  width: 280px;
  height: auto;
  color: #666666;
  background-color: white;
  padding: 5px 5px 5px 15px;
  box-shadow: 2px 2px 10px lightsteelblue;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
